/* Media query for smaller screens */
@media (max-width: 748px) {
    #wd-course-status {
        display: none; /* Hide Course Status on smaller screens */
    }

    #wd-modules-controls {
        text-align: center; /* Center the container for buttons */
    }

    #wd-modules-controls .float-end {
        float: none;
        margin-right: 0;
    }

    #wd-modules-controls button {
        display: block;
        width: 100%;
        margin-bottom: 10px; /* Add spacing between buttons */
    }

    #wd-modules-controls .dropdown {
        display: block;
        width: 100%;
    }
}
